images
images_2
images_10
build
.idea
*.db
compression_results_*
parallel_*txt
*.yuv
*.ppm
*.jpg
*.jpeg
*.webp
*.mj2
*.hevc
*.avif
*.obu
*_vmaf_*_420
*_vmaf_*_444
*_vmaf_*_444u
*_ssim_*_420
*_ssim_*_444
*_ssim_*_444u
*_file_size_bytes_*_420
*_file_size_bytes_*_444
*_file_size_bytes_*_444u
4*.png
__pycache__/
stats.json
stats.log
bdrates_*.db.txt
bitrate_savings_*.db.txt
